<div id="{{methodName}}">
    <table class="array-report">
        <thead>
        <tr>
            <th class="method-name-column">
                <span class="strong">{{methodName}}</span>
            </th>
            <th class="right bgwhite">Cognitive complexity</th>
            <th class="bg{{method.cognitiveColor}}">{{method.cognitiveValue}}</th>
            <th class="right bgwhite">Cyclomatic complexity</th>
            <th class="bg{{method.cyclomaticColor}}">{{method.cyclomaticValue}}</th>
        </tr>
        </thead>
        <tr>
            <td colspan="5">
            <pre>
                <code class="language-js">
                    {{method.code}}
                </code>
            </pre>
            </td>
        </tr>
    </table>
</div>
